[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
allennlp = "==0.8.1"
pytest-pythonpath = "*"
pylint = "==1.8.1"
mypy = "==0.521"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "2.7"
